<div class="container-fluid">
  <h2>Registration Form</h2>
  {{regForm.value | json}}

  <form [formGroup]="regForm" (ngSubmit)="onSubmit(regForm)">

    <div formGroupName="name">

      <div class="form-group">
        <label for="first1">First Name</label>
        <input formControlName="firstName" type="text" class="form-control" id="first1">
      </div>

      <div class="form-group">
        <label for="last1">Last Name</label>
        <input formControlName="lastName" type="text" class="form-control" id="last1">
      </div>

    </div>

    <div formGroupName="phone">

      <div class="form-group">
        <label for="area1">Area Code</label>
        <input formControlName="areaCode" type="text" class="form-control" id="area1">
      </div>

      <div class="form-group">
        <label for="phone1">Phone Number</label>
        <input formControlName="phoneNumber" type="text" class="form-control" id="phone1">
      </div>

    </div>

    <div class="form-group">
      <label for="email1">Email</label>
      <input formControlName="email" type="text" class="form-control" id="email1">
    </div>


    <div formGroupName="address">

      <div class="form-group">
        <label for="street1">Street</label>
        <input formControlName="street" type="text" class="form-control" id="street1">
      </div>

      <div class="form-group">
        <label for="street2">Line 2</label>
        <input formControlName="streetLine2" type="text" class="form-control" id="street2">
      </div>

      <div class="form-group">
        <label for="city1">City</label>
        <input formControlName="city" type="text" class="form-control" id="city1">
      </div>

      <div class="form-group">
        <label for="state1">State</label>
        <input formControlName="state" type="text" class="form-control" id="state1">
      </div>

      <div class="form-group">
        <label for="pin1">Postal Code</label>
        <input formControlName="pinCode" type="text" class="form-control" id="pin1">
      </div>

    </div>

    <div class="form-group">
      <label for="occ1">Occupation</label>
      <input formControlName="occupation" type="text" class="form-control" id="occ1">
    </div>

    <div class="form-group">
      <label for="com1">Company Name</label>
      <input formControlName="companyName" type="text" class="form-control" id="com1">
    </div>

    <div class="form-group">
      <label for="pos1">Position</label>
      <input formControlName="jobPosition" type="text" class="form-control" id="pos1">
    </div>

    <div class="form-group">
      <label for="pay1">Payment Method</label>
      <input formControlName="paymentMethod" type="text" class="form-control" id="pay1">
    </div>

    <div class="form-group">
      <label for="cmt1">Comments(optional)</label>
      <input formControlName="comments" type="text" class="form-control" id="cmt1">
    </div>

    <!--<div class="form-group">
      <label>Username</label>
      <input [class.is-invalid]="userName.invalid && regForm.get('userName').touched" formControlName="userName"
        type="text" class="form-control">
  
      <div *ngIf="regForm.get('userName').invalid && regForm.get('userName').touched">
        <small *ngIf="regForm.get('userName').errors?.required" class="text-danger">Username is required</small>
        <small *ngIf="userName.errors?.minlength" class="text-danger">Username must be of atleast 3
          characters</small><!--get userName() is defined in component class so we can replace regForm.get('userName') by it-->
    <!---- <small *ngIf="userName.errors?.error" class="text-danger">{{userName.errors?.error.value}} :This name is not allowed</small>
        </div>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input formControlName="password" type="password" class="form-control">
    </div>

    <div class="form-group">
      <label>Confirm password</label>
      <input [class.is-invalid]="regForm.errors?.mismatch" formControlName="confirmPassword" type="password" class="form-control">
      <small *ngIf="regForm.errors?.mismatch" class="text-danger">Passwords do not match</small>
    </div>

    <div class="form-group">
      <label>Email</label>
      <button type="button" class="btn btn-secondary btn-sm m-2" (click)="addAlternateEmails()">Add Email</button>
      <input [class.is-invalid]="email.invalid && email.touched" formControlName="email" type="text" class="form-control">
      <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required</small>
    <div formArrayName="alternateEmails" *ngFor="let email of alternateEmails.controls; let i=index">
      <input type="text" class="form-control my-1" [formControlName]="i">
    </div>
  -->

      

    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>